body{
    /* background-color: rgba(0, 122, 255, 1); */
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono';
    
}

::-webkit-scrollbar{
    display: none;
}
/*Main Container*/
.maincontainer{
    width: 98%;
    height: 95%;
    background-color: #161618;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainpage{
    width: 80%;
    height: 100%;
}
/*Mainpage Designing*/
.maintopbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 8%;
    background-color:#161618 ;
    border-radius: 0 20px 0 0;
    border-bottom:1px solid rgb(44, 44, 44) ;
}

.buttonssection{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    width: 85px;
    height: 35px;
    color: white;
    font-family: 'Poppins';
    font-size: 0.8rem;
    border: none;
    background-color: rgba(0, 122, 255, 1);
    border-radius: 5px;
    margin-right: 10px;
}
.button:hover{
    background-color: rgb(0, 101, 208);
    transition: 0.2s;
}
.mainnotessection{
    padding-right: 7.5px;
    padding-left: 7.5px;
    height: 91.8%;
    width: 98.7%;
    border-radius: 0 0 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.note1main{
    height: 40%;
    width: 32%;
    /* flex-grow: 1; */
    background-color: #212124;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.firstsectionmain{
    width: 90%;
    height: 15%;
    /* background-color: #00CA4E; */
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.secondsection{
    width: 90%;
    height: 55%;
    /* background-color: #1a73e8; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: grey;
    text-align: left;
    /* word-wrap: break-word;
    word-break: break-all; */
}
.tagmainsection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.thirdsection{
    width: 90%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titlemaincard{
    font-size: 1.15rem;
    color: white;
    font-family:'Poppins' ;
    font-weight: 600;
    transform: translateY(5px);
}
.sourcemaincard{
    width: 50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.sourcehead{
    font-size: 0.7rem;
    font-weight: 600;
    color: #66666d;
}
.sourcename{
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(166, 166, 166);
}
.buttonssectionmain{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cardbuttonimages{
    width: 30px;
}
.linkbuttonmain,.deletebuttonmain,.editbuttonmain,.completebuttonmain{
    cursor: pointer;
}
.borderselection{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 16px, rgba(191, 191, 191, 0.1) 0px 8px 24px, rgba(255, 255, 255, 0.1) 0px 16px 56px;
}


/*Sidebar Designs*/
.sidebar{
    width: 20%;
    height: 100%;
    background-color: #212124;
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.sidetopbar{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-color: #161618; */
    border-radius: 20px 0 0 0 ;
    
}
.close,.minimise,.maximise{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #FF605C;
    margin-left: 20px;
    margin-right: 0;
    cursor: pointer;
}
.minimise{
    background-color: #FFBD44;
}
.maximise{
    background-color:  #00CA4E;
}
.introside{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.introicon{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.imagetextintro{
    font-family: 'Poppins';
    font-weight: 600;
    color: white;
    font-size: 1.25rem;
    margin-left: 20px;
}

/*Scrolling Sidebar div*/
.scrollingsidebar{
    width: 87%;
    height: 69%;
    padding: 1.5%;
    display: flex;
    justify-content:start;
    align-items:start;
    overflow-y: scroll;
    flex-wrap: wrap;
    /* background-color: #00CA4E; */
    border-radius: 20px;
}
.insidescroll{
    width: 100%;
    height: auto;
    max-height: 75%;
}
.note1{
    width: 100%;
    height: 50px;
    /* background-color: #161618; */
    border-radius:5px ;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins';
    color: rgb(158, 158, 158);
}
.titlesidecard{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.9rem;
    font-weight:500; 
}
.tagimageside{
    width: 20px;
}
.tagiconside{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note1:hover{
    background-color: rgba(0, 0, 0, 0.178);
    transition: 0.2s;
    cursor: pointer;
}


/*clear button div side bar*/
.clearbuttonsdivside{
    width: 90%;
    height:10% ;
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
    transform: translateY(20%);

}.profilename{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#username{
    font-size: 1.1rem;
    font-family: 'Poppins';
    font-weight: 600;
    color: rgb(134, 134, 134);
}
.emailuser{
    font-size: 0.7rem;
    color: #66666d;
    font-family: 'Poppins';
}




/*pop up*/
.popupcontainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #000000a7;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.popupaddtask{
    width: 40%;
    height: 75%;
    background-color: #161618;
    border-radius: 20px;
    scale: 0;
    transform: translateY(500px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.popuptobar{
    width: 100%;
    height: 10%;
    background-color: #212124;
    border-radius: 20px 20px 0 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttonpopsection{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.createbuttonpop{
    width: 35px;
    height: 35px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    background-color:rgba(0, 122, 255, 1) ;
    color: white;
    font-size: 2rem;
}
.headingpop{
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: rgb(177, 177, 177);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}
.inputformpop{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(0%);
}
.ownernameemail,.titleandsource{
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: space-around;align-items: center;
}

/*form input*/
.input-group {
    position: relative;
   }
   
   .input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: #2196f3;
   }
   .description{
    width: 100%;
    display: flex;
    justify-content: center;align-items: center;
}
   .descpop{
    width: 71%;
    height: 150px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 20px;
    padding: 2.5%;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    margin-top: 10px;
   }
   .descpop:focus{
    border-color: #2196f3;;
   }
.tags{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.taghead{
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
}
.tagsselect{
    height: 40px;
    width: 45%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tagsmark{
    width: 80px;
    height: 25px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;align-items: center;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 10px;
}
.important{
    border-color: #FF605C;
    color: #FF605C;
}
.important:hover{
    background-color: #FF605C;
    color: white;
}
.primary{
    border-color: #FFBD44;
    color: #FFBD44;
}
.primary:hover{
    background-color: #FFBD44;
    color: white;
}
.secondary{
    border-color: #00CA4E;
    color: #00CA4E;
}
.secondary:hover{
    background-color: #00CA4E;
    color: white;
}


/*Pop up to Dispay whole message*/
.popdisplaymessage{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.353);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.displaypopup{
    width: 60%;
    height: 80%;
    background-color: #161618;
    border-radius: 30px;
}
.displaypopuptop{
    width: 100%;
    height: 10%;
    background-color: #161618;
    scale: 0;
}
.mainbardisplaymessage{
    width: 99.9%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
.titlebardisplaymessage{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-top: 10px;
}
.titledisplay{
    width: 85%;
    height: 100%;
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: 600;
    color: rgb(219, 219, 219);
    transform: translateY(10px);
    white-space: nowrap;
    overflow-x: scroll;
    cursor: move;
}
.descriptiondisplay{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
    height: 67%;
    width: 85%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    border: 1px solid grey;
    margin-top: 20px;
    overflow-y: scroll;
    color: rgb(124, 124, 124);
}
.sourcedisplay{
    width: 80%;
    height: 5%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    color: white;
    font-weight: 600;
}
.sourceemail{
    font-size:0.7rem ;
    color: #66666d;
    font-weight: 500;
}
.completedtaskstyle{
    text-decoration: line-through;
}
